header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #634258 ;
    border: 2px solid black;
}

header a {
    width: 80px;
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav a {
    text-align: center;
    text-decoration: none;
    padding: 20px;
}




footer {
    background-color: #FCE172;
    color: #134266;
    padding: 25px, 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #134266;
    text-decoration: none;
}

footer a:hover {
    color: #2EE0EA;
}